@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    /* Base oscura (Casi negro, no negro puro para elegancia) */
    --background: 240 10% 3.9%;
    --foreground: 0 0% 98%;

    /* Tarjetas y superficies */
    --card: 240 10% 3.9%;
    --card-foreground: 0 0% 98%;
    --popover: 240 10% 3.9%;
    --popover-foreground: 0 0% 98%;

    /* EL VERDE TÓXICO (Primary) */
    --primary: 142 70% 50%;
    /* Un verde neón brillante */
    --primary-foreground: 144 90% 5%;
    /* Texto oscuro sobre el verde */

    /* Secundario (Gris azulado oscuro) */
    --secondary: 240 3.7% 15.9%;
    --secondary-foreground: 0 0% 98%;

    --muted: 240 3.7% 15.9%;
    --muted-foreground: 240 5% 64.9%;

    --accent: 240 3.7% 15.9%;
    --accent-foreground: 0 0% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;

    --border: 240 3.7% 15.9%;
    --input: 240 3.7% 15.9%;
    --ring: 142 70% 50%;
    /* El anillo de foco también es verde */
  }
  .maplibregl-popup-content {
    @apply bg-transparent! shadow-none! p-0! rounded-none!;
  }
  .maplibregl-popup-tip {
    @apply hidden!;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }
}

/* Animación de fondo "Nuclear" opcional */
.toxic-glow {
  background: radial-gradient(circle at center, rgba(34, 197, 94, 0.15) 0%, rgba(0, 0, 0, 0) 70%);
}